/*////////////// Fonts //////////////*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville')
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
a:link{
	text-decoration: none;
}

h1 {
	font-size: 5em;
  font-weight: normal;
  font: 'Libre Baskerville', serif;
	color: rgb(150,173,166);
	border-bottom: solid;
	border-width: thin;
	border-color: rgb(204,204,204);
}

h2 {
	color: rgb(110,127,122);
	font-family: 'Times New Roman', serif;
}

p {
	color: rgb(85,85,101);
	font-family: 'Times New Roman', serif;
}

img {
	border: 5px solid;
	color: rgb(169,169,169);
}

.about a:link, a:visited {
	color: rgb(0,132,183);
	text-decoration: none;
}

.about a:hover {
	text-decoration: underline;
}

footer {
	float:right;
	padding-right: 100px;
}
